{% macro upload_button(id, text='Browse', class='') %}
<div id="{{ id }}-group">
<span id="{{ id }}" class="btn btn-default btn-file {{ class }}">{{ text }} <input type="file" data-url="/files.json"></span>
<span class="feedback"></span>
</div>
{% endmacro %}
